{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ if hasKey .packages.darwin "formulae" }}{{ range .packages.darwin.formulae -}}
brew {{ . | quote }}
{{ end -}}{{ end -}}
{{ if hasKey .packages.darwin "casks" }}{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}{{ end -}}
{{ if hasKey .packages.darwin "mas" }}{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}{{ end -}}
EOF
{{ end -}}