{{ if eq .chezmoi.os "darwin" -}}
# Load Homebrew's shellenv if installed and disable analytics.
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
    export HOMEBREW_NO_ANALYTICS=1
fi
{{- end }}
